{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Livros</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/biblioteca.css' %}">


  </head>

  <body>
    <div class="page-header">
            <h1><a href="">Biblioteca de LIC</a></h1>
            <a href="{% url 'emprestimo_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Novo Empréstimo</span></a>
            <a href="{% url 'emprestimos_list' %}" class="top-menu"><span class=""></span>Empréstimos</a>
            <a href="{% url 'livros_list' %}" class="top-menu"><span class=""></span>Livros</a>
            <a href="{% url 'livro_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Novo livro</a>
        </div>

        <div class="content container">
        <div class="row">
            <div class="col-md-8">
              {% block content %}
              {% endblock %}
            </div>
        </div>
    </div>

        <!--{% for livro in livros %}
          <div class="post">
            <h1><a href="">{{ livro.titulo }}</a></h1>
          </div>
        {% endfor %}-->

        <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">

  </body>
</html>
